app-data-chg-sub-col-dialog {
  .buttonContainer {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  table {
    border-collapse: collapse;
    width: 1040px;
  }

  thead {
    position: sticky;
    top: 0;
    z-index: 1;
  }

  thead th {
    background-color: white;
  }

  th {
    padding-left: 16px;
    padding-right: 16px;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 500;
    position: sticky;
    top: 36px;
    text-align: left;
  }

  tr {
    border-bottom: 1px solid #e0e0e0;
  }

  mat-form-field {
    padding-top: var(--mat-form-field-subscript-text-line-height, var(--mat-app-body-small-line-height));
  }

  .centerCheckboxWithPadding {
    padding-left: calc(50% - 14px);
  }

  .centerText {
    text-align: center;
  }
}

.mdc-dialog .mdc-dialog__content {
  padding: 0px 16px !important;
}